#trailerBox {
    max-height: 92vh;
    min-height: 100%;
    width: 100%;
    background-image: url('../../assets/images/LIM_Plakat_Edited_1_1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#headlineBox {
    position: absolute;
    left: 50%;
    top: 96%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    min-width: 30%;
}

#headline {
    background-color: white;
    font-family: standardfontBold;
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    min-width: 40%;
    min-height: 10px;
}

#watchtrailer {
    font-family: standardfontBold;
    position: absolute;
    color: white;
    font-size: 1.3em;
    background-color: #6a0098;
    left: 50%;
    top: 85%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: background-color, color, padding, font-size, width;
    transition-delay: 0.2s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    padding: 5px;
}

#watchtrailer a {
    text-decoration: none;
    color: white;
}

#watchtrailer:hover {
    background-color: #6a0098;
    color: white;
    font-size: 2.0em;
    padding: 10px;
}

