<div id="navbox">
  <div id="logo">
    <img src="assets/images/gaia.png" height="100px" width="auto" alt="logo" id="logoimg">
  </div>
  <div id="download">
    <a href="#downloadLink">Download</a>
  </div>
  <div id="story">
    <a href="#storyLink">Story</a>
  </div>
  <div id="team">
    <a href="#teamLink">Team</a>
  </div>
  <div id="entstehung">
    <a href="#entstehungLink">Entstehung</a>
  </div>
</div>

<app-trailer></app-trailer>
<app-download></app-download>
<app-medien></app-medien>
<app-story></app-story>
<app-team></app-team>
<app-entstehung></app-entstehung>
