<div id="entstehungContainer">
    <div id="entstehungContainerContentLeft">
        <h1>Entstehung</h1>
    </div>
    <div id="entstehungContainerContentRight">
        <h2 id="entstehungContainerContentRightText"> Wir veröffentlichen und entwickeln unsere Spiele unabhängig
            und kommen aus Österreich. Wir sind seit 2020 aktiv und arbeiten gerade an unseren ersten Titel,
            Gaia Resurrection. Hierbei handelt es sich um einen wilden Mix verschiedenster Genretypen, unterandern
            sind Survival Elemente aber auch Abenteuer Aspekte vertreten.
            Unser Team besteht derzeit aus [Verlinkung]4 Mitarbeitern, und wir gehen derzeit in die HTL Leonding,
            Abteilung Medientechnik.
        </h2>
    </div>
</div>
