#entstehungContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#entstehungContainerContentLeft {
    min-width: 30%;
    max-width: 40%;
}

#entstehungContainerContentLeft {
    font-size: 2em;
}

#entstehungContainerContentRight {
    max-width: 40%;
    min-width: 30%;
}

#entstehungContainerContentRightText {
    font-size: 1.7em;
}

#entstehungContainerContentRightText a {
    text-decoration: none;
    color: gray;
    font-style: initial;
    font-size: 1.4em;
}
