<div id="medienBox">
    <h1 id="headline">Medien</h1>
    <div id="navMedien">

        <p (click)="setMediaTopic(0)">Screenshots</p>
        <p (click)="setMediaTopic(1)">Videos</p>
    </div>
    <div class="medienBoxContent" *ngIf="mediatopic === 0">
        <div class="medienBoxContentItem">
            <img src="assets/images/ingame_footage/amongus.JPG"
                 (click)="openDialog('assets/images/ingame_footage/amongus.JPG')" alt="amongus">
            <h2>Spawn</h2>
        </div>

        <div class="medienBoxContentItem">
            <img src="assets/images/ingame_footage/chest.JPG"
                 (click)="openDialog('assets/images/ingame_footage/chest.JPG')" alt="chest">
            <h2>Chest</h2>
        </div>

        <div class="medienBoxContentItem">
            <img src="assets/images/ingame_footage/inventory.JPG"
                 (click)="openDialog('assets/images/ingame_footage/inventory.JPG')" alt="inventory">
            <h2>Test</h2>
        </div>

        <div class="medienBoxContentItem">
            <img src="assets/images/ingame_footage/campfire.JPG"
                 (click)="openDialog('assets/images/ingame_footage/campfire.JPG')" alt="campfire">
            <h2>Campfire</h2>
        </div>

        <div class="medienBoxContentItem">
            <img src="assets/images/ingame_footage/diving.JPG"
                 (click)="openDialog('assets/images/ingame_footage/diving.JPG')" alt="diving">
            <h2>Diving</h2>
        </div>

    </div>
    <div class="medienBoxContent" *ngIf="mediatopic === 1">
        <div class="medienBoxContentItem">
            <iframe src="https://www.youtube.com/embed/HhE8Or6yKIo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <!--<video controls>
                <source src="http://192.168.0.17:8000/source/2021_4bhitm_Gaia_Video.mp4" type="video/mp4">
                <source src="https://www.youtube.com/watch?v=HhE8Or6yKIo" type="video/mp4">
            </video>-->
        </div>
        <!--
            <div class="medienBoxContentItem">
              <img src="assets/images/placeholder2.webp" (click)="openDialog('assets/images/placeholder2.webp')">
              <h2>Test</h2>
            </div>
        -->
    </div>
</div>
