* {
    box-sizing: border-box;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

#headline, #navMedien p {
    font-family: standardfontBold;
}

#medienBox {
    display: flex;
    flex-direction: column;
    background-color: gray;
    min-height: 100%;
    width: 100%;
    align-items: center;
}

#navMedien {
    background-color: yellowgreen;
    display: flex;
    min-width: 20%;
    justify-content: space-evenly;
}

#navMedien p {
    font-size: 1.3em;
}

.medienBoxContent {
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    justify-content: center;
    min-height: 80%;
    width: 100%;
}

.medienBoxContent h2 {
    font-family: standardfont;
}

.medienBoxContentItem {
    background-color: tan;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.medienBoxContentItem iframe{
    width:  1920px;
    height: 1080px;

}

.medienBoxContentItem img {
    width: 800px;
}


