#storyContainer {
  height: 100%;
  width: 100%;
  background-color: orange;
}

#storyContainerContent {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyContainerContentBox {
  background-color: bisque;
  width: 100%;
  min-height: 25%;
  display: flex;
}

.storyContainerContentBoxImg {
  width: 20%;
  background-image: url("../../assets/images/placeholder2.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}




