<div id="storyContainer">
  <div id="storyContainerContent">
    <!--
    <h2 id="headlineStory">StoryContainer</h2>
    <div class="storyContainerContentBox">
      <div class="storyContainerContentBoxImg">

      </div>
      <div class="storyContainerContentBoxText">
        <h2>Anno</h2>
      </div>
    </div>
    <div class="storyContainerContentBoxLeft">

    </div>
    <div class="storyContainerContentBox">
      <div class="storyContainerContentBoxImg" >

      </div>
      <h2>test</h2>
    </div>
    <div class="storyContainerContentBox">
      <h2>test</h2>
    </div>
    <div class="storyContainerContentBox">
      <h2>test</h2>
    </div>-->
  </div>
</div>
