<div id="storyContainer">
    <div class="storyContainerContent">
        <div class="storyContainerContentImg">
            <img src="assets/images/placeholder/images/Portrait_annete.webp">
        </div>

        <div class="storyContainerContentText">
            <h1>Der Beginn eines neuen Zeitalters</h1>
            <p>Willkommen im 19. Jahrhundert, einer Zeit der Industrialisierung, Diplomatie und der Entdeckungen. Diese
                Ära
                ist reich an technologischen Innovationen, Verschwörungen und ständig wechselnder Loyalität und bietet
                den
                perfekten Schauplatz für ein klassisches Anno-Spiel. Anno 1800 gibt Spielern reichlich Gelegenheit, ihre
                Fähigkeiten als Machthaber unter Beweis zu stellen, indem sie riesige Metropolen errichten, effiziente
                Logistiknetzwerke planen, einen exotischen neuen Kontinent besiedeln, Expeditionen um die Welt in
                Auftrag
                geben und ihre Gegner durch Diplomatie, Handel oder Krieg dominieren.</p>
        </div>
    </div>

    <div class="storyContainerContent">
        <div class="storyContainerContentText">
            <h1>Der Beginn eines neuen Zeitalters</h1>
            <p>Willkommen im 19. Jahrhundert, einer Zeit der Industrialisierung, Diplomatie und der Entdeckungen. Diese
                Ära
                ist reich an technologischen Innovationen, Verschwörungen und ständig wechselnder Loyalität und bietet
                den
                perfekten Schauplatz für ein klassisches Anno-Spiel. Anno 1800 gibt Spielern reichlich Gelegenheit, ihre
                Fähigkeiten als Machthaber unter Beweis zu stellen, indem sie riesige Metropolen errichten, effiziente
                Logistiknetzwerke planen, einen exotischen neuen Kontinent besiedeln, Expeditionen um die Welt in
                Auftrag
                geben und ihre Gegner durch Diplomatie, Handel oder Krieg dominieren.</p>
        </div>
        <div class="storyContainerContentImgRight">
            <img src="assets/images/placeholder/images/Portrait_annete.webp">
        </div>
    </div>

    <div class="storyContainerContent">
        <div class="storyContainerContentImg">
            <img src="assets/images/placeholder/images/Portrait_annete.webp">
        </div>

        <div class="storyContainerContentText">
            <h1>Der Beginn eines neuen Zeitalters</h1>
            <p>Willkommen im 19. Jahrhundert, einer Zeit der Industrialisierung, Diplomatie und der Entdeckungen. Diese
                Ära
                ist reich an technologischen Innovationen, Verschwörungen und ständig wechselnder Loyalität und bietet
                den
                perfekten Schauplatz für ein klassisches Anno-Spiel. Anno 1800 gibt Spielern reichlich Gelegenheit, ihre
                Fähigkeiten als Machthaber unter Beweis zu stellen, indem sie riesige Metropolen errichten, effiziente
                Logistiknetzwerke planen, einen exotischen neuen Kontinent besiedeln, Expeditionen um die Welt in
                Auftrag
                geben und ihre Gegner durch Diplomatie, Handel oder Krieg dominieren.</p>
        </div>
    </div>

    <div class="storyContainerContent">
        <div class="storyContainerContentText">
            <h1>Der Beginn eines neuen Zeitalters</h1>
            <p>Willkommen im 19. Jahrhundert, einer Zeit der Industrialisierung, Diplomatie und der Entdeckungen. Diese
                Ära
                ist reich an technologischen Innovationen, Verschwörungen und ständig wechselnder Loyalität und bietet
                den
                perfekten Schauplatz für ein klassisches Anno-Spiel. Anno 1800 gibt Spielern reichlich Gelegenheit, ihre
                Fähigkeiten als Machthaber unter Beweis zu stellen, indem sie riesige Metropolen errichten, effiziente
                Logistiknetzwerke planen, einen exotischen neuen Kontinent besiedeln, Expeditionen um die Welt in
                Auftrag
                geben und ihre Gegner durch Diplomatie, Handel oder Krieg dominieren.</p>
        </div>
        <div class="storyContainerContentImgRight">
            <img src="assets/images/placeholder/images/Portrait_annete.webp">
        </div>
    </div>



</div>
