/* You can add global styles to this file, and also import other style files */
body {
  height: 600vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

@font-face {
  font-family: standardfont;
  src: url("assets/font/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: standardfontBold;
  src: url("assets/font/Montserrat/Montserrat-SemiBold.ttf");

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
