#teamContainer {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.teammember {
    height: 50%;
    width: 20%;
    margin: 10px 0px 10px 0px;
    background-color: gray;
    flex: 1 1  500px;
    flex: 0 1 350px;
}

.teammemberprofil {
    min-height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}

.teammemberprofil img {
    height: auto;
    min-width: 70%;
    margin-top: 4%
}

.teammemberprofil fa-icon {
    position: absolute;
    font-size: 3em;
    color: white;
}

.teammembername {
    display: flex;
    justify-content: center;
}

.teammembername h3 {
    font-size: 1.7em;
}

.teammemberrolle {
    display: flex;
    justify-content: center;
}

.teammemberrolle h3 {
    font-size: 1.5em;
}
