<div id="teamContainer">
  <div class="teammember">
    <div class="teammemberprofil">
      <img src="assets/images/placeholder/images/Portrait_acele.webp">
      <fa-icon (click)="openDialog(0)" [icon]="fontAwesome[2]"></fa-icon>
    </div>
    <div class="teammembername">
      <h3>David Hieselmayr</h3>
    </div>
    <div class="teammemberrolle">
      <h3>Team Leiter</h3>
    </div>
  </div>
  <div class="teammember">
    <div class="teammemberprofil">
      <img src="assets/images/placeholder/images/Portrait_aliiz.webp">
      <fa-icon (click)="openDialog(1)" [icon]="fontAwesome[2]"></fa-icon>
    </div>
    <div class="teammembername">
      <h3>John Lim</h3>
    </div>
    <div class="teammemberrolle">
      <h3>Chef Designer</h3>
    </div>
  </div>
  <div class="teammember">
    <div class="teammemberprofil">
      <img src="assets/images/placeholder/images/Portrait_andre.webp">
      <fa-icon (click)="openDialog(2)" [icon]="fontAwesome[2]"></fa-icon>
    </div>
    <div class="teammembername">
      <h3>Fabian Häubl</h3>
    </div>
    <div class="teammemberrolle">
      <h3>Programmierleiter</h3>
    </div>
  </div>
  <div class="teammember">
    <div class="teammemberprofil">
      <img src="assets/images/placeholder/images/Portrait_annete.webp">
      <fa-icon (click)="openDialog(3)" [icon]="fontAwesome[2]"></fa-icon>
    </div>
    <div class="teammembername">
      <h3>Florian Beckerle</h3>
    </div>
    <div class="teammemberrolle">
      <h3>Programmierer</h3>
    </div>
  </div>
</div>


